@media only screen and (min-width: 600px) {
    #content-wrap {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hf-login {
        margin: 60px 0;
    }

    .hf-login-submit {
        background-color: #9fdbeb;
        padding: 10px 20px;
    }
}