

@media screen and (min-width: 451px) {
    .hf-about-cont {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    
    .hf-about-cont, .hf-about-hist {
        width: 80%;
        margin: 0 auto;
    }
    
    .hf-about-hist h2 {
        text-align: center;
        font-size: 30px;
        line-height: 30px;
        font-variant: small-caps;
    }
    
    .hf-about-item {
        width: calc((100% / 2) - 30px);
        text-align: justify;
    }
    
    .hf-about-item img {
        width: 100%;
        height: 300px;
    }
    
    .hf-quote {
        text-align: center;
        padding: 20px;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .hf-quote p {
        font-style: italic;
    }
    
    .hf-quote h2 {
        font-size: 30px;
        font-variant: small-caps;
    }
}

.hf-quote h2 {
    font-variant: small-caps;
    text-align: center;
}

.hf-about-hist {
    font-variant: small-caps;
}

.hf-about-cont {
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
}

.hf-quote {
    padding-left: 25px;
    padding-right: 25px;
}