
@media screen and (min-width: 451px) {
    

.cont-suc-img {
    width: 300px;
    height: 300px;
    margin: 20px auto;
}

.cont-suc-img img {
    width: 100%;
    height: 100%;
}

.contact-suc-btn {
    background-color:  #9fdbeb;
    width: 200px;
    border-radius: 10px;
    float: right;
}

.contact-suc-btn a {
    padding: 15px;
}

}

@media screen and (max-width: 450px) {

    .contact-suc-btn {
        background-color:  #9fdbeb;
        width: 200px;
        border-radius: 10px;
        margin: auto;
    }
    
    .contact-suc-btn a {
        padding: 15px;
    }

    h1 {
        text-align: center;
    }
}