@media screen and (min-width: 451px) {
  .hf-he {
    text-align: center;
  }
  
  .hf-contact-para {
    font-size: 20px;
    text-align: center;
  }
  
  .hf-contact-header {
    font-size: 25px;
    font-variant: small-caps;
    text-align: center;
  }
  
.hf-Labels {
    margin-top: 20px;
    display: inline-block;
  }
  
  .hf-center {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .hf-contactMain,
  .hf-form {
    margin: 0 auto;
    width: 80%;
  }
  
  .hf-form div {
    margin-top: 20px;
  }
  
  .hf-box {
    width: 450px;
    height: 30px;
    font-size: 20px;
    border: 3px solid lightgray; /* changed border-width to 1px */
    padding: 5px;
  }
  
  textarea.comment-box {
    width: 100%;
    height: 200px;
    margin-top: -2px;
    border: 3px solid lightgray; /* changed border-width to 1px */
    
  }
  
  .hf-submitbtn {
    margin-left: 500px;
    position: relative;
    top: -50px;
    border-radius: 15px;
    width: 120px;
    height: 35px;
    background-color: #87C253;
    border-style: solid;
  }
  
  input::placeholder {
    font-size: 15px;
  }


  
  
}


/* as of right now starting here  we are in the mobile view. the new code should go under here to style the mobile contact portion */

/* mobile view code */
/* Mobile styles */

/* Center header */
.hf-contact-header {
  text-align: center;
  font-variant: small-caps;
}
  
  /* Contact paragraph */
  .hf-contact-para {
    font-size: 18px;
    text-align: center;
    word-wrap: break-word;
   
  }
  
  
  /* Form container */
  .hf-contactMain, .hf-form {
    width: 100%;
    margin: 0;
  }
  
  /* Form fields */
  .hf-form div {
    margin-top: 10px;
  }
  
  /* Input fields */
 
  textarea.comment-box {
    width: 100%;
    height: 200px;
    margin-top: -2px;
    border: 3px solid lightgray; /* changed border-width to 1px */
    padding: 5px;
  }

  .hf-box {
    width: 100%;
    height: 40px;
    font-size: 20px;
    border: 3px solid lightgray; /* changed border-width to 1px */
  }
  
  
  /* Submit button */
  .hf-submitbtn {
    margin: 20px auto;
    position: relative;
    top: 0;
    border-radius: 15px;
    width: 120px;
    height: 35px;
    background-color: #87C253;
    border-style: solid;
  }

  .hf-submit {
    text-align: center;
  }
  
  /* Placeholder text */
  input::placeholder {
    font-size: 14px;
  }

  .hf-contactMain {
    padding: 0 25px;
  }

  .hf-login-submit {
    background-color: #87C253;
    padding: 10px 15px;
    margin-bottom: 10px;
  }



input::placeholder {
  font-size: 15px;
}



