@media screen and (min-width: 600px) {
    .hf-about-cont {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    
    .hf-about-cont, .hf-about-hist {
        width: 80%;
        margin: 0 auto;
    }
    
    .hf-about-hist h2 {
        text-align: center;
        font-size: 30px;
        line-height: 30px;
    }
    
    .hf-about-item {
        width: calc((100% / 2) - 100px);
        text-align: justify;
    }
    
    .hf-about-item img {
        width: 100%;
        height: 300px;
    }
}

@media screen and (max-width: 600px) {

    img {
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .para {
        
        font-size: 70%;
        width: 70%;
        text-align: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .hf-about-hist {
        text-align: center;
    }

    .hf-about-item-second {
        display: flex;
        flex-flow: column;
    }

    #a {
        order: 2
    }
}