

@media screen and (min-width: 451px) {
    .hf-services-hist, .hf-services-cont {
        width: 80%;
        margin: 0 auto;
    }
    
    .hf-services-hist  {
        text-align: center;
    }
    
    .hf-services-hist h2 {
        font-variant: small-caps;
        font-size: 30px;
    }

    .gallery {
        width: 80%;
        margin: auto;
    }
    
    .hf-services-cont, .gallery {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .gallery-div {
        width: calc((100% / 3) - 20px);
        margin: 10px;
    }
    
    .hf-services-item {
        width: calc((100% / 3) - 6px);
        margin: 3px;
        text-align: center;
        background-color: #9fdbeb;
        border-radius: 20px;
    }
    
    .gallery-img {
        width: 100%;
        height: 300px;
    }

}



/*-- All mobile page code will be written here ->(after this line) --*/

@media screen and (max-width: 450px) {
    .hf-services-cont {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-flow:  wrap; 
    }

    .hf-services-item {
        width: calc((100% / 2) - 4px);
        text-align: center;
        background-color: #9fdbeb;
        margin: 2px;
        border-radius: 20px;
        font-size: small;
    }

    .gallery {
        display: flex;
        flex-flow: wrap;
        width: 80%;
        margin: 20px auto;
        align-items: center;
        gap: 10px;
    }

    .hf-services-hist  {
        text-align: center;
    }
    .hf-services-hist h2 {
        font-variant: small-caps;
        font-size: 30px;
    }

}

